{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["@typescript-eslint", "react", "prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "ignorePatterns": ["dist/**", "node_modules/**"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-empty-function" : 0,
    "func-names": 0,
    "import/extensions": ["error", "never", { "style": "always" }],
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "max-len": ["error", { "code": 120 }],
    "no-use-before-define": "off",
    "object-property-newline": "error",
    "prettier/prettier": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [
        ".ts",
        ".tsx"
      ]
    }],
    "semi": ["error", "never"]
  }
}
